@using events.tac.local.Models;
@model IEnumerable<events.tac.local.Models.NavigationItem>

<!-- [Breadcrumb Navigation] -->
<ol class="breadcrumb">
    @foreach (var navItem in Model)
    {
        <li class="@(navItem.Active ? "active" : string.Empty)">
            <a href="@navItem.URL">@navItem.Title</a>
        </li>
    }
</ol>
<!-- [/Breadcrumb Navigation] -->